<!---<div class="bg-video-wrap">
  <video autoplay muted loop playsinline>
    <source src="/media/bg.mp4" type="video/mp4">
  </video>
</div>--->

<div class="bg-image-overlay"></div>
<div class="bg-dark-overlay"></div>